<div class="languages">
  <div class="main">
    <p>Languages</p>
  </div>
  <div class="cards">
    <div class="card">
      <div class="title">
        Portuguese - C2
      </div>
      <table>
        <tr>
          <td>Speaking</td>
          <td>Native speaker</td>
        </tr>
        <tr>
          <td>Listening</td>
          <td>Proficient</td>
        </tr>
        <tr>
          <td>Reading</td>
          <td>Proficient</td>
        </tr>
        <tr>
          <td>Writing</td>
          <td>Proficient</td>
        </tr>
      </table>
    </div>

    <div class="card">
      <div class="title">
        English - B2
      </div>
      <table>
        <tr>
          <td>Speaking</td>
          <td>Upper Intermediate</td>
        </tr>
        <tr>
          <td>Listening</td>
          <td>Upper Intermediate</td>
        </tr>
        <tr>
          <td>Reading</td>
          <td>Upper Intermediate</td>
        </tr>
        <tr>
          <td>Writing</td>
          <td>Upper Intermediate</td>
        </tr>
      </table>
    </div>
    <div class="card">
      <div class="title">
        Spanish - A2
      </div>
      <table>
        <tr>
          <td>Speaking</td>
          <td>Beginner</td>
        </tr>
        <tr>
          <td>Listening</td>
          <td>Intermediate</td>
        </tr>
        <tr>
          <td>Reading</td>
          <td>Elementary</td>
        </tr>
        <tr>
          <td>Writing</td>
          <td>Beginner</td>
        </tr>
      </table>
    </div>
  </div>
</div>