<div class="contact">
  
  <div class="main">
    <p>
      Contact
    </p>
  </div>
  <div id="title">
    <p>You can find me by following one of these options below!</p>
  </div>

    <div class="cards">
      
      <div class="card">
        <div class="title">
          <img src="../../../assets/user.png" alt="name">
        </div>
        <div class="description">
          <p>Manassés Calebe de Moura Souza</p>
        </div>
    </div>

    <div class="card">
      <div class="title">
        <img src="../../../assets/phone.png" alt="number">
      </div>
      <div class="description">
        <p>+55 (61) 984224006</p>
      </div>
    </div>

    <div class="card">
        <div class="title">
          <img src="../../../assets/github.png" alt="github">
        </div>
        <div class="description">
          <p><a href="https://github.com/ManassesM" target="_blank">ManasssesM</a></p>
        </div>
    </div>
    
    <div class="card">
      <div class="title">
        <img src="../../../assets/linkedin.png" alt="linkedin">
      </div>
      <div class="description">
        <p><a href="https://www.linkedin.com/in/manasses-moura/" target="_blank">manasses-moura</a></p>
      </div>
  </div>
  
  <div class="card">
    <div class="title">
      <img src="../../../assets/home.png" alt="address">
    </div>
    <div class="description">
      <p><a href="https://goo.gl/maps/rMXeTTshyoDJrkap6" target="_blank">QI 24 - Taguatinga Norte</a></p>
    </div>
</div>
    
  </div>
</div>
