<div class="skills">
  <div class="main">
    <p>Skills</p>
  </div>

  <div class="cards">
    
  <div class="card">
    <div class="title">Java</div>
    <div class="description">
      <div class="inner">
        <span>i</span>
        <p>
          The first programming language that I've learned. With it, I increased my knowledge of object-oriented programming, and further, I built some rest APIs using Spring Boot.
        </p> 
        <p>
          Today I'm still able to code this and ready to learn more about it.
        </p>
      </div>
    </div>
  </div>
    
  <div class="card">
    <div class="title">Spring Boot</div>
    <div class="description">
      <div class="inner">
        <span>i</span>
        <p>
          The first framework I've learned and used in a real project.
        </p> 
        <p>
          I used it to code a restful API in Java, managing the classes with annotations and methods provided by JPA for instance.
        </p>
      </div>
    </div>
  </div>
    
  <div class="card">
    <div class="title">HTML & CSS/SCSS</div>
    <div class="description">
      <div class="inner">
        <span>i</span>
        <p>
          I have been creating a lot of pages using HTML CSS and S, like that where you are now. 
        </p>
        <p>
          Also, I've been improving my knowledge by watching tutorials on YouTube and copying the code, making clones of websites. 
        </p>
      </div>
    </div>
  </div>
    
  <div class="card">
    <div class="title">Angular</div>
    <div class="description">
      <div class="inner">
        <span>i</span>
        <p>
          Angular is a framework that I'm still learning. I created this resume in form of a website to put into practice what I have had learned on tutorials.
        </p> 
        <p>
          At this point, I know how routing works and the architecture of an Angular app.
        </p>
      </div>
    </div>
  </div>
    
    <div class="card">
      <div class="title">TypeScript</div>
      <div class="description">
        <div class="inner">
          <span>i</span>
          <p>
            I have been using TypeScript to code a Discord bot and other projects that I committed to GitHub.
          </p> 
          <p>
            I used it in React projects and Angular as well.
          </p>
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="title">SQL</div>
      <div class="description">
        <div class="inner">
          <span>i</span>
          <p>
            I learned SQL at college and by myself to make possible put projects I had in mind in practice.
          </p> 
          <p>
            For instance, I had to use SQL to store data from the rest APIs.
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="title">Rest API</div>
      <div class="description">
        <div class="inner">
          <span>i</span>
          <p>
            One of the fun things I like when learning a new technology is to build a Rest API. I already did it in Java and NodeJS by following some tutorials on YouTube.
          </p> 
        </div>
      </div>
  </div>

  <div class="card">
    <div class="title">NodeJS</div>
    <div class="description">
      <div class="inner">
        <span>i</span>
        <p>
          I have used NodeJS to build Angular, JavaScript, and even React projects.
        </p> 
      </div>
    </div>
</div>
</div>