<div class="goals">
  <div class="main">
    <p>Goals</p>
  </div>
  <section>
    <div class="title">
      <p>As a student</p>
    </div>
    <div class="description">
      <p>
        Through the past years, I've been studying either backend and frontend. The first language I've learned was Java by following a course from the Udemy website. After learning the basic concepts of programming and logic I started to build a rest API with Spring Boot framework. I wrote all these concepts in a book, which I still use today as a glossary. Also, I coded a discord bot using NodeJS and TypeScript and, in the end, it worked as expected. Today I keep studying and searching for challenges and a job where I can improve even more those skills.
      </p>
      <p>
        On my <a href="https://github.com/ManassesM" target="_blank">Github</a>, you will be able to see all the projects I have mentioned above.
      </p>
    </div>
  </section>

  <section>
    <div class="title">
      <p>As an intern</p>
    </div>
    <div class="description">
      <p>
        When I was in high school, in 2018, I worked as an intern in two public buildings. The first one was in a file in the Mobility Sector, then I went to human resources, where I worked for almost 1 year. There I learned how to communicate more formally and how things work within a work environment.
      </p>

      <p>
        After that, in 2019 I got a job in the Court of Justice as an intern. There I worked for 1 year, where I had the chance to improve my communication skills, file logic, and responsibility.
      </p>

      <p>
        All these experiences made me a better person when it comes to the work environment.
      </p>
    </div>
  </section>

  <section>
    <div class="title">
      <p>In dayly life</p>
    </div>
    <div class="description">
      <p>
        I had a kidney transplant when I was 15 years old. Today I carry this fact as an incentive to be better and give my best to do things because before it I had any chance.
      </p>
    </div>
  </section>
</div>