<!-- vertical navbar -->
<header>
  <section>
      <div id="title">
        <p>Sections</p>
      </div>
      <ul>
        <li><a routerLinkActive="active" routerLink="/home">Home</a></li>
        <li><a routerLinkActive="active" routerLink="/contact">Contact</a></li>
        <li><a routerLinkActive="active" routerLink="/goals">Goals</a></li>
        <li><a routerLinkActive="active" routerLink="/grade">Grade</a></li>
        <li><a routerLinkActive="active" routerLink="/skills">Skills</a></li>
        <li><a routerLinkActive="active" routerLink="/languages">Languages</a></li>
        <li><a routerLinkActive="active" routerLink="/courses">Courses</a></li>
      </ul>
  </section>

  <section>
    <div class="social">
      <a href="https://github.com/ManassesM" target="_blank">
        <img class="center" src="../assets/github.png" alt="git">
      </a>
      <a href="https://www.linkedin.com/in/manasses-moura/" target="_blank">
        <img src="../assets/linkedin.png" alt="git">
      </a>
    </div>
  </section>

</header>

<!-- main -->
<div class="main">
  <router-outlet></router-outlet>
</div>
