<div class="grade">
  <div class="main">
    <p>Grade</p>
  </div>
  <div class="card">
    <div class="description">
      <div class="title">
        College
      </div>
      <p>
        Today, I am in college studying Analysis and Systems Development in the 3rd semester. I started studying there at the beginning of 2020 few months after have finished high school. 
        I project to finish college in June of 2022.
      </p>

      <p>
        In order to avoid the spread of Covid 19, I wasn't able to go in person, so I had to study from home, and due to this fact, I had much more time to get the focus on the study of technologies I wanted to learn.
      </p>
      <p>
        You can find the location of my college on Google Maps by clicking <a href="https://goo.gl/maps/aL4b7H9dgXQjTG1F6" target="_blank"> here</a>
      </p>
    </div>
    <div class="description">
      <div class="title">
        CILC
      </div>
      <p>
        I study English at CILC in Ceilândia Norte, few kilometers far from here, also I dedicate some hours of my weekdays to learn by myself.
      </p>
      <p>
        You can find the location of this school on Google Maps by clicking <a href="https://goo.gl/maps/UCSbnuqstJwuZN8QA" target="_blank"> here</a>
      </p>
    </div>

  </div>
</div>