<div class="courses">
  <div class="main">
    <p>
      Courses
    </p>
  </div>
  <div class="text">
    <p>
      Here has some courses I took throughout the last years I've been studying.
    </p>
  </div>
  <div class="cards">
    
    <div class="card">
      <div class="img">
        <img src="../../../assets/courses/java1.png" alt="">
      </div>
      <div class="info">
        <div class="title">
          <a href="https://www.udemy.com/share/101scABEsdd1pXTX4=/" target="_blank">
            Java Completo 2020
          </a>
        </div>
        <div class="description">
          55 Hours - Nélio Alves
      </div>
      </div>
    </div>
    
    <div class="card">
      <div class="img">
        <img src="../../../assets/courses/java2.png" alt="">
      </div>
      <div class="info">
        <div class="title">
          <a href="https://loiane.training/curso/java-basico" target="_blank">
            Java Básico
          </a>
        </div>
        <div class="description">
          30 Hours - Loiane Groner
      </div>
      </div>
    </div>
    
    <div class="card">
      <div class="img">
        <img src="../../../assets/courses/java3.png" alt="">
      </div>
      <div class="info">
        <div class="title">
          <a href="https://loiane.training/curso/java-intermediario" target="_blank">
            Java Intermediário
          </a>
        </div>
        <div class="description">
          9 Hours - Loiane Groner
      </div>
      </div>
    </div>
    
    <div class="card">
      <div class="img">
        <img src="../../../assets/courses/java4.png" alt="">
      </div>
      <div class="info">
        <div class="title">
          <a href="https://www.udemy.com/course/microservices-with-spring-boot-and-spring-cloud/" target="_blank">
            Java Microservices
          </a>
        </div>
        <div class="description">
          11 Hours - in28Minutes
      </div>
      </div>
    </div>
    
    <div class="card">
      <div class="img">
        <img src="../../../assets/courses/java5.png" alt="">
      </div>
      <div class="info">
        <div class="title">
          <a href="https://www.udemy.com/share/101Wn0BEsdd1pXTX4=/" target="_blank">
            Java MastercClass
          </a>
        </div>
        <div class="description">
          88 Hours - Tim Buchalka
      </div>
      </div>
    </div>
    
    <div class="card">
      <div class="img">
        <img src="../../../assets/courses/web.png" alt="">
      </div>
      <div class="info">
        <div class="title">
          <a href="https://www.udemy.com/share/101W9MBEsdd1pXTX4=/" target="_blank">
            Desenvolvedor Web
          </a>
        </div>
        <div class="description">
          47 Hours - André Fontenelle
      </div>
      </div>
    </div>
    
    <div class="card">
      <div class="img">
        <img src="../../../assets/courses/git.png" alt="">
      </div>
      <div class="info">
        <div class="title">
          <a href="https://www.udemy.com/share/101s5UBEsdd1pXTX4=/" target="_blank">
            Git & GitHub
          </a>
        </div>
        <div class="description">
          2 Hours - Wilian Justen
      </div>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="../../../assets/courses/angular.png" alt="">
      </div>
      <div class="info">
        <div class="title">
          <a href="https://www.udemy.com/share/101WTuBEsdd1pXTX4=/" target="_blank">
            Angular Course
          </a>
        </div>
        <div class="description">
          29 Hours - Mosh Hamedami
      </div>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="../../../assets/courses/english2.png" alt="">
      </div>
      <div class="info">
        <div class="title">
          <a href="https://www.udemy.com/share/101vsABEsdd1pXTX4=/" target="_blank">
            English Grammar Course
          </a>
        </div>
        <div class="description">
          31 Hours - TJ Walker and Derek Smith
      </div>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="../../../assets/courses/excel.png" alt="">
      </div>
      <div class="info">
        <div class="title">
          <a href="https://www.udemy.com/share/101tZEBEsdd1pXTX4=/" target="_blank">
            Excel Para Negócios
          </a>
        </div>
        <div class="description">
          2.5 Hours - Cezar Henrique
      </div>
      </div>
    </div>


  </div>
</div>